<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yawthinking.core.domain.PositionMapper">

    <resultMap id="positionMap" type="position">
        <result column="name" property="name" />
        <association property="actor" javaType="actor" column="actorId"
                     select="com.yawthinking.core.domain.ActorMapper.findById" />
        <association property="movie" javaType="movie" column="movieId"
                     select="com.yawthinking.core.domain.MovieMapper.findById" />
    </resultMap>

    <select id="findById" resultMap="positionMap">
        SELECT name, actorId, movieId FROM positions WHERE actorId = #{actorId} AND movieId = #{movieId}
    </select>

    <select id="findByMovieId" parameterType="long" resultMap="positionMap">
        SELECT name, actorId, movieId FROM positions WHERE movieId = #{movieId}
    </select>

    <insert id="save" parameterType="position">
        INSERT INTO positions (name, actorId, movieId)
        VALUES (#{name}, #{actor.id}, #{movieId})
    </insert>

</mapper>