<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>備用網頁</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="fallback page">
    <link href="" rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.6/css/bootstrap.min.css}">
</head>
    <body>
        <div id="wrapper">
            <div class="container">
                <h1>Well Done!</h1>
                <h3>You&#39; have complement this Chapter (許武功)!</h3>
            </div>
        </div>
        <div id="copyright">
            <!-- start: Container -->
            <div class="container">
                <p><a href="http://bootstrapmaster.com" target="_blank">Bootstrap Themes</a> by BootstrapMaster, thanks</p>
            </div>
            <!-- end: Container  -->
        </div>
        <script src="" th:src="@{/webjars/bootstrap/5.3.6/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>
